__pycache__

*.txt
!requirements.txt

*.pt
!project-training/original-model-config/pretrain_model_weights.pt

*.png

*.pkl
# Keep your specific training data files
!project-training/data/train_items.pkl
!project-training/data/val_items.pkl
!project-training/data/test_items.pkl

*.svg

*.log

*.pdb

*.npy

*.ckpt

baselines

datasets

pretrain

run_logs

testing_scripts
scripts

trainers/deprecated
models/deprecated

plip/

case_studies/_*
checkpoints
data/other
utils/_*

# Force include the specific file
!/data/tokenizer/vocabs/ps_vocab_300.txt
!/data/tokenizer/vocabs/ps_vocab_500.txt